<section id="contact-1442">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Welcome Back!</span>
            <h2 class="cs-title">Log in</h2>
        </div>
        <div class="cs-contact-group">
            <picture class="cs-background">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/wind-turbine.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/wind-turbine.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/wind-turbine.jpg" alt="wind turbine" width="650" height="613">
            </picture>
        </div>
        <!--Form-->
        <%= form_with(url: login_path, class: "cs-form", scope: :session, id: "cs-form-1442") do |f| %>
            <%= f.label :email, class: "cs-label" %>
            <%= f.email_field :email, class: "cs-input form-control" %>

            <%= f.label :password, class: "cs-label" %>
            <%= link_to "Forgot password?", new_password_reset_path %>
            <%= f.password_field :password, class: "cs-input form-control" %>

            <%= f.label :remember_me, class: "checkbox" do %>
                <%= f.check_box :remember_me %>
                <span>Remember me</span>
            <% end %>
            <%= f.submit "Log in", class: "cs-button-solid" %>
            <p>New user? <%= link_to "Sign up now!", signup_path %></p>
        <% end %>
        
    </div>
</section>