<%= turbo_frame_tag "price-alert-#{price_alert.id}", class: "cs-item #{price_alert.alert_user ? "alert-user" : ""}" do %>
    <a href="<%= price_alert.event.url %>" target="_blank" class="cs-link">
        <picture class="cs-picture" aria-hidden="true">
          <%= image_tag(price_alert.event.image_url) %>
        </picture>
        <div class="cs-flex">
            <span class="cs-date"><%= image_tag "svgs/calendar.svg" %><%= price_alert.event.date.strftime("%b %d, %Y") %></span>
            <h3 class="cs-h3"><%= price_alert.event.name %></h3>
            <ul class="cs-item-text">
              <li> <strong><%= image_tag 'svgs/map-pin' %> </strong> <%= price_alert.event.venue %> </li>
              <li> <strong>Live Price: </strong> $<%= price_alert.event.live_price_cad %> </li>
              <li> <strong>Alert Price: </strong> $<%= price_alert.alert_price %> </li>
            </ul>
        </div>
    </a>
    <%= button_to price_alert_path(price_alert, format: :turbo_stream), class: "icon-trash", method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
      <%= image_tag 'svgs/trash.svg', alt: 'Delete icno', width: 32, height: 32 %>
    <% end %>
    <%= image_tag 'svgs/pencil.svg', alt: 'Edit icon', width: 32, height: 32, class: "icon-edit", id: "edit-#{price_alert.id}" %>
    <form class="price-edit-form hidden" action="<%= price_alert_path(price_alert) %>" method="post" data-turbo-frame="price_alert_<%= price_alert.id %>">
      <input type="hidden" name="_method" value="patch">
      <input type="number" name="price_alert[alert_price]" value="<%= price_alert.alert_price %>" step="0.01">
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-secondary cancel-edit" data-id="<%= price_alert.id %>">Cancel</button>
  </form>
<% end %>