<li class= "card" id="event-%{event.id}">
    <h3><%= event.name %></h3>
    <%= image_tag(event.image_url) %>
    <div> <strong>Date: </strong> <%= event.date %> </div>
    <div> <strong>Venue: </strong> <%= event.venue %> </div>
    <div> <strong>Price: </strong> <%= event.live_price_cad %> </div>
    <div> <strong>Event Type: </strong> <%= event.event_type %> </div>
    <div><%= link_to "Show Event", event %></div>
    <%= link_to "Edit Event", edit_event_path(event) %>
    <div>
        <%= link_to "Delete Event", event_path(event), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                    } %>
    </div>
</li>