<%= form_with(model: event) do |form| %>
    <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
        <% event.errors.full_messages_for(:name).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    <div>
        <%= form.label :date %>
        <%= form.date_select :date %>
    </div>
    <div>
        <%= form.label :venue %>
        <%= form.text_field :venue %>
    </div>
    <div>
        <%= form.label :live_price_cad %>
        <%= form.number_field :live_price_cad %>
    </div>
    <div>
        <%= form.label :live_price_usd %>
        <%= form.number_field :live_price_usd %>
    </div>
    <div>
        <%= form.label :image_url %>
        <%= form.text_field :image_url %>
    </div>
    <div>
        <%= form.label :event_type %>
        <%= form.text_field :event_type %>
    </div>
    <div>
        <%= form.label :stubhub_id %>
        <%= form.text_field :stubhub_id %>
    </div>
    <%= form.submit %>
<% end %>