<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-105">
    <div class="cs-container">
        <ul class="cs-ul">
            <li class="cs-li">
                <%= link_to 'Home', root_path, class: "cs-link" %>
            </li>
            <li class="cs-li">
                <%= link_to 'Help', help_path, class: "cs-link" %>
            </li>
            <li class="cs-li">
                <%= link_to 'Sign Up', signup_path, class: "cs-link" %>
            </li>
            <li class="cs-li">
                <%= link_to 'Contact', contact_path, class: "cs-link" %>
            </li>
            <li class="cs-li">
                <a href="mailto:stubhub.alerts@gmail.com" class="cs-link">stubhub.alerts@gmail.com</a>
            </li>
        </ul>
        <div class="cs-bottom">
            <span class="cs-copyright"><%= Time.now.year %> Copyright</span>
            <a class="cs-social-link" aria-label="visit google profile" href="#">
                <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Social/google.svg" alt="google" width="11" height="11">
            </a>
            <a class="cs-social-link" aria-label="visit facebook profile" href="#">
                <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Social/Facebook.svg" alt="facebook" width="6" height="11">
            </a>
            <a class="cs-social-link" aria-label="visit instagram profile" href="#">
                <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Social/instagram.svg" alt="instagram" width="11" height="11">
            </a>
        </div>
    </div>
</footer>
                                